# Exercises

To get started with the exercises, go ahead and take a look at RideShareDB. This database was created with data from a dataset on [Kaggle](https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city). The dataset was made using data obtained from the NYC Taxi and Limosine Commission or TLC. TLC tracks this data by base and even rideshare companies such as Uber and Lyft have assigned bases that each pickup must be attributed to. For the exercises, we will be using the `other-FHV-services-jan-july15` and `lyft` tables in RideShareDB.Â These tables include the data for each pickup attributed to a few other For-Hire Vehicles (FHV) services and Lyft. These tables do not include any data from Uber.

## String Functions

Write a query that returns the last 3 characters of the base name in `other-FHV-services-jan-july15`. Do you see anything that is a common abbreviation at the end of business names?

In [1]:
select top 10 RIGHT(Base_Name,3) from 
RideShareDB.dbo.other_FHV_services_jan_aug_2015

(No column name)
INC
INC
ORP
INC
NC.
INC
NC.
NC.
DIO
RP.

The number of trips and the number of pickups are both stored as strings in `other-FHV-services-jan-july15`. This is because the data provided included spaces in some of the numbers. Write a query that returns the location of spaces in both of these columns.

In [9]:
--SELECT top 10 Number_of_Trips,Number_of_Vehicles from RideShareDB.dbo.other_FHV_services_jan_aug_2015;
SELECT Top 10 CHARINDEX(' ',Number_of_Trips) AS 'Index where space is located in Number_of_Trips column',
CHARINDEX(' ',Number_of_Vehicles) AS 'Index where space is located in Number_of_Vehicles column'
from  RideShareDB.dbo.other_FHV_services_jan_aug_2015;

Index where space is located in Number_of_Trips column,Index where space is located in Number_of_Vehicles column
3,3
3,3
4,3
3,2
4,3
4,3
3,3
1,4
4,4
3,3

## Date Functions

For ``other-FHV-services-jan-july15``, display the name of month of the pickup date and order in descending order. Is the result of this query what you expected?

In [12]:
SELECT top 10 Pick_Up_Date, DATENAME(month, Pick_Up_Date) AS 'Month from date' from  RideShareDB.dbo.other_FHV_services_jan_aug_2015 ORDER BY [Month from date] DESC;

Pick_Up_Date,Month from date
2015-05-01,May
2015-05-01,May
2015-05-01,May
2015-05-01,May
2015-05-01,May
2015-05-01,May
2015-05-01,May
2015-05-01,May
2015-05-01,May
2015-05-01,May

Using `other-FHV-services-jan-july15`, write a query that returns the day number of the pickup date and month name and orders it in ascending order by day number.

In [14]:
select top 10 Pick_Up_Date, DATENAME(DAY,Pick_Up_Date) AS 'Day number of date', DATENAME(month,Pick_Up_Date) AS 'month of date'
from RideShareDB.dbo.other_FHV_services_jan_aug_2015
ORDER by [Day number of date] ASC

Pick_Up_Date,Day number of date,month of date
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January

## Aggregate Functions

Write a query that returns the most easterly Lyft pickup.

In [20]:
SELECT min(start_lng),max(start_lng) as 'Most Easterly Lyft pickup' from RideShareDB.dbo.lyft;

(No column name),Most Easterly Lyft pickup
-74.22689,-73.72315

Write a query the returns the most northerly Lyft pickup.

In [21]:
SELECT min(start_lat),max(start_lat) from RideShareDB.dbo.lyft

(No column name),(No column name)
40.52785,40.93562

Using ``other-FHV-services-jan-july15``, write a query that connects the the base number and the base name in a string that uses the following format: base\_number: base\_name.

In [24]:
SELECT top 5 * from RideShareDB.dbo.other_FHV_services_jan_aug_2015
SELECT top 5 CONCAT_WS(':',Base_Number,Base_Name) AS 'format: base_number: base_name' from RideShareDB.dbo.other_FHV_services_jan_aug_2015;

Base_Number,Base_Name,Pick_Up_Date,Number_of_Trips,Number_of_Vehicles
B00013,LOVE CORP CAR INC,2015-01-01,26,17
B00014,NY ONE CORP CAR INC,2015-01-01,45,24
B00029,COMMUNITY CAR SVC CORP,2015-01-01,731,36
B00053,CHARGE AND RIDE INC,2015-01-01,10,9
B00095,LIBERTY CAR SERVICE INC.,2015-01-01,814,62

format: base_number: base_name
B00013:LOVE CORP CAR INC
B00014:NY ONE CORP CAR INC
B00029:COMMUNITY CAR SVC CORP
B00053:CHARGE AND RIDE INC
B00095:LIBERTY CAR SERVICE INC.